.additions {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
}

.additions__title {
  margin: 0;
  margin-bottom: 48px;
  font-size: 24px;
  font-weight: inherit;
  line-height: 24px;
  color: $black;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.additions__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }
}

.additions__item {
  border-bottom: 1px solid $special_grey;

  &:first-child {
    border-top: 1px solid $special_grey;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 894px;
    padding: 15px 0 17px;
  }
}

.additions__description {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 630px;
  }
}

.additions__name {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: inherit;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}

.additions__link {
  color: $special_dark-grey-2;
}

.additions__table {
  width: 100%;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 14px;
  font-family: $arial;

  @media (min-width: $tablet-width) {
    width: 226px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 320px;
  }
}

.additions__price-tag {
  display: flex;
  justify-content: space-between;
}

.additions__price {
  text-align: right;

  @media (min-width: $desktop-width) {
    text-align: left;
    width: 75px;
  }
}

.additions__button {
  width: 100%;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.additions__promo {
  margin: 0;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 20px;
  font-family: $arial;
  color: $white;
  text-align: center;
  background-color: $basic_green;

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 86px;
  }
}
