.advantages__title {
  font-size: 36px;
  font-weight: inherit;
  line-height: 40px;
  color: $black;
}

.advantages__list {
  margin: 0;
  padding: 0;
  font-family: $arial;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 58px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 79px;
  }
}

.advantages__item {
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}
