.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  padding-top: 8px;
  font-weight: inherit;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 51px;
  }
}

.advantages__list {
  @include list-reset;
  margin-bottom: 46px;
  font-family: $arial;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    justify-content: space-between;
    margin-bottom: 1px;
    counter-reset: advantagesCounter;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 247px);
    justify-content: space-between;
    margin-bottom: 11px;
  }
}

.advantages__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-bottom: 37px;
    counter-increment: advantagesCounter;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-bottom: 13px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $basic_green;

    @media (min-width: $tablet-width) {
      top: 32px;
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-size: contain;
  }

  &--composition::after {
    top: 12px;
    left: 14px;
    width: 30px;
    height: 32px;
    background-image: url("../img/icon_leaf.svg");

    @media (min-width: $tablet-width) {
      top: 57px;
      left: 24px;
    }
  }

  &--form::after {
    top: 11px;
    left: 14px;
    width: 29px;
    height: 31px;
    background-image: url("../img/icon_tub.svg");

    @media (min-width: $tablet-width) {
      top: 56px;
      left: 25px;
    }
  }

  &--diet::after {
    top: 12px;
    left: 18px;
    width: 25px;
    height: 30px;
    background-image: url("../img/icon_eat.svg");

    @media (min-width: $tablet-width) {
      top: 57px;
      left: 28px;
    }
  }

  &--speed::after {
    top: 11px;
    left: 14px;
    width: 32px;
    height: 33px;
    background-image: url("../img/icon_alarm.svg");

    @media (min-width: $tablet-width) {
      top: 55px;
      left: 24px;
    }
  }
}

.advantages__item-text {
  @media (min-width: $tablet-width) {
    width: 245px;
    padding-top: 128px;
    padding-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-bottom: 40px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: counter(advantagesCounter);
      position: absolute;
      top: -9px;
      left: 114px;
      z-index: -1;
      font-size: 282px;
      line-height: 282px;
      font-family: $oswald;
      color: $basic_grey;
    }
  }
}
