.copyright {
  @media (min-width: $tablet-width) {
    justify-self: right;
  }
}

.copyright__text {
  font-size: 16px;
  font-family: $arial;
  color: $special_dark-grey;
}

.copyright__image path {
  fill: $special_grey-3;
}

.copyright__link {
  display: flex;
  justify-content: space-between;

  &:hover,
  &:focus {
    .copyright__image path {
      fill: $basic_green;
    }
  }

  &:active {
    .copyright__image path {
      fill: $basic_green;
    }
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 163px;
    text-align: right;
  }
}
