.copyright {
  padding-top: 20px;
  padding-bottom: 22px;
  border-top: 1px solid $light_grey;

  @media (min-width: $tablet-width) {
    justify-self: right;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 25px;
  }
}

.copyright__text {
  font-size: 16px;
  font-family: $arial;
  color: $special_dark-grey;
}

.copyright__image {
  width: 27px;
  height: 34px;
}

.copyright__image path {
  fill: $special_grey-3;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:focus {
    .copyright__image path {
      fill: $basic_green;
    }
  }

  &:active {
    .copyright__image path {
      fill: $basic_green;
    }
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 163px;
    text-align: right;
  }
}
