.example {
  padding-top: 27px;
  background-color: $lighter_grey;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    border-top: 1px solid $silver_grey;
    background: linear-gradient(to top, $lighter_grey 462px, $white 462px);
  }

  @media (min-width: $desktop-width) {
    padding-top: 23px;
    border: none;
    background: linear-gradient(to top, $lighter_grey 461px, $white 461px);
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "example-title example-title"
      "example-text example-text"
      "example-list example-price"
      "example-toggle example-toggle";
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(4, auto);
  }

  @media (min-width: $desktop-width) {
    grid-template-areas:
      "example-title example-toggle"
      "example-text example-toggle"
      "example-list example-toggle"
      "example-price example-toggle";
    grid-template-columns: 436px 1fr;
    grid-template-rows: repeat(4, min-content);
    justify-content: space-between;
    align-content: space-between;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 33px;
  font-weight: inherit;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    grid-area: example-title;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.example__text {
  width: 270px;
  margin: 0;
  margin-bottom: 25px;
  font-family: $arial;

  @media (min-width: $tablet-width) {
    grid-area: example-text;
    width: 700px;
    margin-bottom: 41px;
    padding-top: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    width: 436px;
    margin: 0;
    padding-top: 16px;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-area: example-list;
    width: 366px;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
  }
}

.example__item {
  position: relative;
  width: 124px;
  margin-bottom: 21px;
  padding-top: 14px;
  padding-bottom: 15px;
  border: 1px solid $special_grey;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    padding-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.example__item-number {
  font-size: 24px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-description {
  position: absolute;
  bottom: -21px;
  left: 17px;
  width: 86px;
  margin: 0;
  padding: 3px;
  font-size: 12px;
  line-height: 12px;
  font-family: $arial;
  background-color: $lighter_grey;

  @media (min-width: $tablet-width) {
    bottom: -10px;
    left: 10px;
    width: 140px;
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $lighter_grey;
  }
}

.example__price {
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    grid-area: example-price;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    flex-direction: row;
    justify-content: space-between;
    width: 327px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    text-align: left;
  }
}

.example__toggle {
  @media (min-width: $tablet-width) {
    grid-area: example-toggle;
  }

  @media (min-width: $desktop-width) {
    justify-self: end;
    text-align: right;
  }
}

.example__item:first-child .example__item-description {
  @media (min-width: $tablet-width) {
    left: 27px;
    width: 103px;
  }
}
