.page-header {
  border-bottom: 1px solid $silver_grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-header--index {
  position: relative;

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 50%;
      height: 694px;
      background-color: $basic_green;
      background-image: url("https://via.placeholder.com/720x694");
      background-size: 720px auto;
      background-repeat: no-repeat;
      background-position: right bottom;
    }
  }
}

.page-header__wrapper {
  position: relative;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.page-header__logo {
  display: flex;
  flex-direction: row;
}
