.page-header {
  border-bottom: 1px solid $silver_grey;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-header--index {
  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 50%;
      height: 694px;
      background-color: $grey_green;
      background-image: url("../img/background-desktop.jpg");
      background-size: 720px auto;
      background-repeat: no-repeat;
      background-position: right bottom;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-desktop@2x.jpg");
      }
    }
  }
}

.page-header__wrapper {
  position: relative;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.page-header__logo-sign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    width: auto;
    padding: 0;
  }

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-header__logo-text-image {
  display: block;
  padding-top: 6px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo-sign-image {
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: auto;
  }
}
