.page-footer {
  background-color: $basic_grey;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 31px;
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    padding-bottom: 29px;
  }
}

.page-footer__contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.page-footer__logo {
  padding-top: 40px;
  padding-bottom: 29px;
  text-align: center;
  border-bottom: 1px solid $light_grey;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    justify-self: left;
    padding-top: 29px;
    border: none;
  }
}
