.products {
  position: relative;

  @media (max-width: $mobile-max-width) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100vw;
      height: 1px;
      background-color: $silver_grey;
    }

    &::before {
      right: 50%;
    }

    &::after {
      left: 50%;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
  }
}

.products__title {
  margin: 0;
  padding-top: 27px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 83px;
  }
}

.products__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
  }
}

.products__item {
  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}
