.products__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
  }
}

.products__item {
  margin-bottom: 19px;
}
