.programs__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.programs__item {
  margin-bottom: 20px;
  padding: 30px 33px 18px 20px;
  background-color: $basic_grey;

  @media (min-width: $tablet-width) {
    padding: 48px 279px 53px 52px;

    &--pro {
      padding-right: 314px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 77px 52px 55px;
  }
}

.programs__item-title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 71px;
  font-size: 24px;
  font-weight: inherit;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.programs__item-text {
  margin: 0;
  margin-bottom: 23px;
  font-family: $arial;
}

.programs__item-link {
  display: block;
  padding-top: 15px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;
  border-top: 1px solid $light_grey;

  &:active {
    opacity: 0.3;
  }
}
