.promo {
  padding-bottom: 22px;
  text-align: center;
  color: $white;
  background-color: $basic_green;
  background-image: linear-gradient(to top, $white 170px, transparent 170px);
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (min-width: $tablet-width) {
    min-height: 861px;
    padding-top: 24px;
    color: $black;
    background: none;
  }

  @media (min-width: $desktop-width) {
    min-height: 657px;
    padding-top: 78px;
  }
}

.promo__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: 87px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.promo__description {
  position: relative;
  padding-top: 27px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    margin-bottom: 52px;
  }
}

.promo__description-title {
  margin: 0;
  margin-bottom: 25px;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    color: $black;
  }
}

.promo__description-text {
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__link-button {
  width: 100%;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 244px;
    margin-left: -5px;
    padding-top: 17px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.promo__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 230px;
    right: -50%;
    width: 709px;
    height: 609px;
    z-index: -1;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    top: -55px;
    right: -50px;
    width: 552px;
    height: 499px;
    z-index: 0;
  }
}
