.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item-link {
  color: $special_grey-3;

  &:hover,
  &:focus {
    color: $basic_green;
  }

  &:active {
    color: $basic_green;
    opacity: 0.3;
  }
}
