@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/global.scss";
@import "blocks/container.scss";
@import "blocks/title.scss";
@import "blocks/main-nav.scss";
@import "blocks/button.scss";
@import "blocks/promo.scss";
@import "blocks/programs.scss";
@import "blocks/advantages.scss";
@import "blocks/example.scss";
@import "blocks/form.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
